.picked-colors {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 3rem 0 4.5rem 0;
}

.picker-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.picker-section > div > div {
  border-radius: 8px !important;
}

@media (max-width: 870px) {
  .picked-colors {
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 750px) {
  .picker-section {
    flex-direction: column;
    gap: 2rem;
  }
}
